<div class="container">

    <%  if (locals.data) { %>

        <h1>Results for: <%= searchNoSpecialChar %></h1>

        <ul class="recipe-ul">
            <% for( let recipe of data ) { %>
                <li>
                    <a href="/recipe/<%= recipe.recipe.uri.split("#")[1] %>">
                        <div class="recipe-card">
                            <img class="recipe-img" src=<%= recipe.recipe.image %> />
                            <div class="recipe-text">
                                <h2><%= recipe.recipe.label %></h2>
                                <p class="subtext">Serves: <%= recipe.recipe.yield %></p>
                                <p class="diet-labels">
                                    <% recipe.recipe.dietLabels.forEach(label => { %>
                                        <%= label + "\n" %> 
                                    <% }) %>
                                    <% recipe.recipe.healthLabels.forEach(label => { %>
                                        <%= label + "\n" %> 
                                    <% }) %>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            <% } %>
        </ul>

    <% } else { %>
        <div class="error-page">
            <h1 class="error-message">Error <%= content %></h1>
            <img class="error-img" src="/images/Crying-Cat-Error-Img.png" alt="crying cat"/>
        </div>
    <% } %>
</div>